{% extends 'base.html' %}

{% block content %}
<div>
    <div class="hero d-flex flex-column justify-content-center align-items-center">
        <div class="position-absolute " style="z-index: -100;">{% include 'includes/logo.html' %}</div>
        <h1 class="title text-center text-capitalize z-2">Limitless</h1>
    </div>
    {% include '/includes/seperator.html' %}
    <main>
        <ul class="games-list d-flex flex-wrap justify-content-center gap-4 p-4 list-unstyled">
            {% for game in games %}
            <li>
                <a href="{{ url_for('games.game_page', game_id=game.id) }}">
                    <div class="game">
                        <i class="{{ game.icon }}"></i>
                        <h4>{{ game.name }}</h4>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </main>
</div>
{% endblock %}