<nav class="navbar navbar-expand-lg flex-row justify-content-between px-5 py-4 sticky-top">
    <div>
        <a class="navbar-brand relative" href="{{ url_for('main.index') }}">
            <div style="width: 100px; height: 100%; display: inline-block;">{% include 'includes/logo.html' %}</div>
        </a>
        <a class="navbar-brand" href="{{ url_for('main.leaderboard') }}">Leaderboard</a>
        <a class="navbar-brand" href="{{ url_for('main.dashboard') }}">Dashboard</a>
    </div>
    <div class="">
        <a class="navbar-brand bg-warning text-black-50 rounded p-2 px-4" href="{{ url_for('auth.signup') }}">Sign
            Up</a>
        <a class="navbar-brand" href="{{ url_for('auth.login') }}">Log In</a>
    </div>
</nav>