{% extends 'game-base.html' %}

{% block game_content %}
<div class="container text-center mt-3">
    <h2>Typing Speed Test</h2>
    <p>Type the displayed words as quickly and accurately as you can!</p>
    <div id="ready-set-go" class="fs-3 my-3"></div>
    <div id="typing-speed-arena" class="mt-4">
        <h3 id="word-display" class="mb-3"></h3>
        <input type="text" id="typing-input" class="form-control w-50 mx-auto" placeholder="Start typing here..."
            disabled>
        <h4 id="wpm-display" class="mt-3"></h4>
        <h4 id="accuracy-display" class="mt-2"></h4>
        <h4 id="typing-speed-timer" class="mt-2"></h4>
    </div>
</div>
{% endblock %}